input, textarea, select {
  appearance: none;
  width: 100%;
  border-radius: .5rem;
  border: 2px solid transparent;
  outline: 1px solid var(--input-stroke);
  background-color: var(--input-base);

  padding: .75rem 1rem;

  font: var(--body-md);
  color: var(--input-placeholder);
}

.input-wrapper, .textarea-wrapper {
  label {
    font: var(--body-sm);
    color: var(--text-body);
    display: block;
    margin-bottom: 0.75rem;
  }
}

input[type="datetime-local"] {
  position: relative;

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

input {
  &[required] + .error {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font: var(--body-xs);
    color: var(--danger);

    margin-top: 0.5rem;
  }

  &:not(:focus):valid + .error, &:not(:focus):empty + .error, &:valid + .error {
    display: none;
  }

  &:user-invalid {
    border-color: var(--danger);
  }
}